body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("./assets/space.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  width:100vw;
  height:90vh;
}

h1 {
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 4px #aaa;
}

p {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}
